.top {
  background-color: #1d1d1b;
  max-height: 25vh;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 0;

}
.top img {
  height: 50px;
}
.top h1 {
  color: #fff;
}

@media (max-width: 500px) {
    .top{
        padding-right: 40px;
        padding-left: 40px;
        align-items: center;
    }
    .top h1{
        font-size: 1rem;
    }
}